@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100%;
  min-width: 1160px;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #1A1A1A;
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.disabled {
  opacity: 0.3;
}

.button {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 0.2em;
}

.button::after {
  position: absolute;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
  top: 50%;
  transform: translateY(-50%);
  content: "";
}

.button:active {
  background-color: #FFCC33;
}

.button:focus {
  outline: #AF4FFF 2px solid;
}

.button:disabled {
  opacity: 0.3;
}

.button:hover::after {
  background-color: #FFE17F;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 100ms;
}


.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

/* Pages */

.container {
  width: 1160px;
  margin: 0 auto;
}

/* Header */

.page-header {
  color: #000000;
  width: 1160px;
  padding-bottom: 134px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #FFE17F;
}

.header-container {
  width: 1040px;
  margin: 0 auto;
}

.navigation {
  position: relative;
}

.navigation-logo-link {
  display: block;
  width: 145px;
  height: 36px;
  margin-top: -20px;
}

.navigation-logo-link:focus {
  outline: #AF4FFF 2px solid;
}

.navigation-logo-link:hover {
  opacity: 0.6;
}

.navigation-logo-link:active {
  opacity: 0.3;
}

.search-form {
  display: grid;
  grid-template-columns: 359px 160px;
  box-sizing: border-box;
  height: 40px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus {
  outline: #AF4FFF 2px solid;
  outline-offset: 3px;
}

.active-navigation {
  border-bottom: 2px solid #000000;
  opacity: inherit;
}

.navigation-login {
  display: block;
  margin-right: 150px;
  padding-left: 25px;
  background-image: url("../images/sign-in-icon.svg");
  background-repeat: no-repeat;
  background-size: 13px 12px;
  background-position: center left;
}

.navigation-compare {
  padding-left: 22px;
  background-image: url("../images/compare-icon.svg");
  background-repeat: no-repeat;
  background-size: 10px 12px;
  background-position: center left;
}

.navigation-backet {
  padding-left: 40px;
  background-image: url("../images/backet-icon.svg");
  background-repeat: no-repeat;
  background-position: 12px 2px;
  z-index: 0;
  position: relative;
}

.navigation-backet-count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border: none;
  padding: 3px;
  left: -3px;
  top: 0;
  width: 15px;
  height: 15px;
  background-color: #FFFFFF;
  border-radius: 50%;
  line-height: 17px;
  font-size: 14px;
}

.popover-cart {
  display: none;
  position: absolute;
  width: 320px;
  background-color: #000000;
  color: #FFFFFF;
  right: -77px;
  top: 40px;
  z-index: 3;
  min-height: 140px;
}

.popover-backet-open {
  display: block;
}

.popover-cart::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 6px;
  background-image: url("../images/piramid.svg");
  margin-top: -6px;
}

.popover-products-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.popover-product-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.popover-product-item + .popover-product-item {
  border-top: 1px solid rgb(255, 255, 255, 0.1);
}

.popover-product-link {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 22px;
  align-items: center;
  width: 260px;
}

.popover-product-link:hover {
  opacity: 0.6;
}

.popover-product-link:active {
  opacity: 0.3;
}

.popover-product-link:focus {
  outline: #AF4FFF 2px solid;
  outline-offset: 2px;
}

.popover-item-title {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
}

.popover-item-delete {
  padding: 10px;
  margin: 0;
  width: 10px;
  height: 10px;
  position: relative;
  cursor: pointer;
  top: -4px;
  right: -4px;
  border: none;
  background-color: transparent;
  background-image: url("../images/cross-white.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.popover-item-delete:hover {
  opacity: 0.6;
}

.popover-item-delete:active {
  opacity: 0.3;
}

.popover-item-delete:focus {
  outline: #AF4FFF 2px solid;
  outline-offset: 2px;
}

.popover-total {
  display: flex;
  justify-content: space-between;
  padding: 13px 20px;
  font-size: 16px;
  line-height: 20px;
  background-color: #1A1A1A;
}

.popover-open-backet {
  width: 280px;
  height: 50px;
  padding: 0;
  border: none;
  margin: 20px;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0.2em;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  cursor: pointer;
}

.popover-open-backet:hover {
  background-color: #FFE17F;
}

.popover-open-backet:active {
  background-color: #FFE17F;
  color: rgb(0, 0, 0, 0.3);
}

.popover-open-backet:focus {
  outline: #AF4FFF 2px solid;
  outline-offset: 2px;
}

.popover-open-backet:disabled {
  color: rgb(0, 0, 0, 0.3);
}

.header-search-input {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  background: transparent;
  padding-left: 48px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border: #000000 2px solid;
  border-right: #000000 1px solid;
  background-position: center left 16px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.header-search-input:focus {
  outline: #AF4FFF 2px solid;
  outline-offset: 2px;
}

.header-search-input:disabled {
  opacity: 0.3;
}

.search-button {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 20px;
  background: transparent;
  border: #000000 2px solid;
  border-left: #000000 1px solid;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

.search-button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.search-button:active {
  color: rgb(255, 255, 255, 0.3);
}

.search-button:focus {
  outline: #AF4FFF 2px solid;
  outline-offset: 2px;
}

.search-button:disabled {
  opacity: 0.3;
}

.navigation-user {
  margin-top: 30px;
  margin-bottom: 30px;
}

.navigation-user a {
  text-decoration: none;
  color: #000000;
}

.navigation-half-width {
  width: 50%;
}

.navigation-advantages .navigation-half-width {
  width: 293px;
  margin-right: 228px;
}

.navigation-advantages {
  display: flex;
  justify-content: space-between;
}

.navigation-catalog {
  display: grid;
  grid-template-columns: 1fr 50px;
  width: 300px;
  align-items: center;
}

.navigation-catalog-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.navigation-catalog-link:focus {
  outline: #AF4FFF 2px solid;
}

.navigation-catalog-icon {
  width: 50px;
  height: 50px;
  opacity: 0.3;
  z-index: 2;
  background-image: url("../images/catalog-plus.svg");
}

.navigation-catalog-link:hover .navigation-catalog-icon {
  opacity: 1;
}

.navigation-advantages .navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
}

.subcatalog-item:hover .subcatalog-container,
.subcatalog-item:focus-within .subcatalog-container {
  display: flex;
}

.subcatalog-item:hover .navigation-catalog-icon,
.subcatalog-item:focus-within .navigation-catalog-icon {
  background-image: url("../images/catalog-minus.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 2px;
}

.subcatalog-container {
  display: none;
  position: absolute;
  left: -60px;
  top: 103px;
  width: 1040px;
  background-color: #FFE17F;
  z-index: 1;
  padding: 42px 60px;
  padding-top: 30px;
}

.header-subcatalog {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 230px;
}

.subcatalog-container ul:first-child {
  margin-right: 22px;
}

.header-subcatalog-link {
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
  width: 220px;
}

.active-subcatalog-link {
  border-bottom: 1px solid #000000;
}

.header-subcatalog-link:hover {
  opacity: 0.6;
}

.header-subcatalog-link:active {
  opacity: 0.3;
}

.header-subcatalog-link:focus {
  outline: #AF4FFF 2px solid;
  outline-offset: 2px;
}


/* Slider */

.slider {
  margin-top: -148px;
  margin-bottom: 60px;
  position: relative;
}

.slider-button {
  cursor: pointer;
  position: absolute;
  top: 37%;
  border: none;
  padding: 0;
  width: 20px;
  height: 60px;
  background: transparent;
  background-image: url("../images/left-tall-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 60px;
}

.slider-previous-button {
  left: 30px;
}

.slider-next-button {
  right: 600px;
  transform: rotate(180deg);
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-button:focus {
  outline: #AF4FFF 2px solid;
  outline-offset: 2px;
}

.product-item {
  display: flex;
  justify-content: center;
}

.slider-pagination-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: -35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.slider-pagination-item button {
  cursor: pointer;
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 10px;
  background-color: #FFFFFF;
  border: 2px solid #000000;
}

.slider-pagination-item button:hover {
  opacity: 0.6;
}

.slider-pagination-item button:active {
  opacity: 0.3;
}

.slider-pagination-item button:focus {
  outline: #AF4FFF 2px solid;
  outline-offset: 2px;
}

.pagination-selected button {
  background-color: #000000;
}

.product-description {
  min-width: 560px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-slider-list {
  margin: 0;
  padding: 0;
}

.product-item-number {
  font-weight: 700;
  font-size: 180px;
  display: block;
  margin-left: 300px;
  color: #FFFFFF;
  margin-bottom: -20px;
  margin-top: 60px;
  height: 100px;
}

.product-title {
  margin: 0;
  margin-top: -45px;
  margin-bottom: 29px;
}

.product-text {
  color: #444444;
  margin: 0;
  margin-bottom: 50px;
}

.product-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
  margin-bottom: 50px;
  background-color: transparent;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.product-benefits-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.product-benefits-item {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 26px;
}

.product-benefit {
  font-size: 36px;
  margin-bottom: 12px;
}

.product-benefit-description {
  font-size: 16px;
}

/* Categories */

.categories {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
  margin-bottom: 183px;
}

.categories-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories-item {
  width: 160px;
}

.categories-item-link:hover img {
  background-color: #FFC700;
}

.categories-item-link:active {
  opacity: 0.3;
}

.categories-item-link:focus {
  outline: #AF4FFF 2px solid;
  outline-offset: 2px;
}

.categories-item-link {
  display: block;
  text-decoration: none;
  color: #000000;
  letter-spacing: -0.02em;
}

.categories-item-link img {
  background-color: #FFE17F;
  margin-bottom: 26px;
}

/* Advantages */

.advantages {
  background-color: #F0F0F0;
  margin-bottom: 70px;
}

.advantages-container {
  display: flex;
  position: relative;
  top: -100px;
  z-index: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  margin-top: 64px;
  list-style-type: none;
  width: 281px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  letter-spacing: 0.2em;
}

.advantages-container::after {
  content: "";
  position: absolute;
  left: 281px;
  height: 100%;
  width: 7px;
  background-color: #000000;
  order: 0;
  padding-bottom: 26px;
}

.advantages-item {
  width: 100%;
}

.advantages-item:not(.selected) {
}

.advantages-item:last-child {
  margin-bottom: 0;
}

.advantages-description-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  order: 1;
}

.advantages-description-item {
  padding-right: 200px;
  padding-left: 122px;
  padding-top: 72px;
  padding-bottom: 30px;
}

.advantages-item-link {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: inherit;
  font-weight: 800;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
  border: none;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px 120px 10px 0;
  cursor: pointer;
  background-color: transparent;
}

.advantages-item-link::after {
  position: absolute;
  left: 0;
  z-index: -1;
  height: 8px;
  background-color: #FFE17F;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 160px;
}

.advantages-item-link:hover::after {
  background-color: #FFE17F;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 100ms;
}

.advantages-item-link:active::after {
  background-color: #FFCC33;
}

.button-selected button {
  background-color: #000000;
  color: #FFE17F;
  width: 100%;
}

.button-selected button:hover,
.button-selected button:active {
  background-color: #000000;
  padding-left: 40px;
}

.button-selected button:focus {
  outline: #AF4FFF 2px solid;
  outline-offset: 2px;
}

.button-selected button::after {
  content: none;
}

.advantages-title-item {
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
}

.advantages-text-item {
  color: #444444;
  width: 500px;
}

.delivery-image {
  background-image: url("../images/delivery-image.svg");
  background-repeat: no-repeat;
  background-position: 680px 80px;
}

.guarantee-image {
  background-image: url("../images/guarantee-image.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.loan-image {
  background-image: url("../images/loan-image.svg");
  background-repeat: no-repeat;
  background-position: right;
}

/* Order */

.order {
  background-color: #F0F0F0;
  margin-bottom: 70px;
}

.order-search {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.order-button {
  margin: 0 auto;
  padding: 0;
  width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: #F0F0F0;
}

.order-button:hover .order-image {
  background-color: #FFC700;
}

.order-button:hover .order-about {
  opacity: 1;
}

.order-button:active {
  opacity: 0.3;
}

.order-button:focus {
  outline: #AF4FFF 2px solid;
  outline-offset: 2px;
}

.order-image {
  background-color: #FFE17F;
  margin: 0;
  width: 125px;
  height: 100px;
  background-image: url("../images/order-car-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.order-about {
  margin: 0;
  width: 125px;
  height: 100px;
  background-image: url("../images/order_info.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

/* About us */

.contacts-container section::before {
  position: absolute;
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-us {
  width: 530px;
}

.about-us-title {
  margin: 0;
  margin-top: 47px;
  margin-bottom: 48px;
}

.about-us p {
  color: #444444;
}

.about-us-description {
  margin: 0;
  margin-bottom: 30px;
}

.about-us-delivery {
  margin: 0;
  margin-bottom: 30px;
}

.delivery-list {
  margin: 0;
  margin-left: 3px;
  padding: 0;
  margin-bottom: 30px;
  list-style-type: none;
}

.delivery-item::before {
  content: "";
  background-image: url("../images/yellow_dot.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 8px 8px;
  padding-right: 33px;
}

.delivery-item {
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 19px;
}

.delivery-list li:last-child {
  margin-bottom: 0;
}

.button-about-us {
  display: block;
  color: #000000;
  letter-spacing: 0.2em;
  width: 274px;
  text-align: center;
}

/* Contacts */

.contacts {
  color: #444444;
  width: 530px;
}

.contacts-container {
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}

.contacts-title {
  color: #000000;
  margin: 47px 0;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-description {
  margin: 0;
  margin-bottom: 30px;
}

.contacts-address-text {
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.contacts-phone {
  color: inherit;
  font-style: normal;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  display: block;
  margin: 0;
  margin-bottom: 30px;
}

.contacts-schedule {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 30px;
}

.button-contact-us {
  display: block;
  color: #000000;
  letter-spacing: 0.2em;
  width: 260px;
  text-align: center;
}

/* Newsletter */

.newsletter {
  background-color: #F0F0F0;
}

.newsletter-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 52px;
  padding-left: 5px;
}

.newsletter-title {
  width: 50%;
  margin: 0;
  margin-top: 64px;
  margin-bottom: 137px;
  margin-left: 5px;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr auto;
  box-sizing: border-box;
  width: 808px;
}

.newsletter-description {
  color: #444444;
  width: 48%;
  margin: 0;
  margin-top: 74px;
  margin-bottom: 137px;
}

.newsletter-form {
  width: 1160px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter-input-email {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  font-size: 18px;
  padding-left: 15px;
}

.newsletter-submit-button {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: 3px solid #C4C4C4;
  padding: 14px 34px;
  cursor: pointer;
  background-color: transparent;
}

.newsletter-submit-button:hover {
  background-color: #000000;
  border-color: #000000;
  color: #FFFFFF;
}

.newsletter-submit-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-submit-button:focus {
  outline: #AF4FFF 2px solid;
  outline-offset: 2px;
}

.newsletter-submit-button:disabled {
  opacity: 0.3;
}

.newsletter-advantages {
  color: #444444;
  margin-left: auto;
  padding-left: 32px;
  background-image: url("../images/check-green.svg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 13px 13px;
  max-width: 260px;
}

/* Page footer */

.page-footer {
  background-color: #444444;
  color: #F0F0F0;
}

.page-footer-container {
  width: 1160px;
  display: grid;
  grid-template-columns: 240px 480px 234px;
  gap: 16px 103px;
  align-items: center;
  margin-bottom: 43px;
  position: relative;
}

.page-footer-container::before {
  content: "";
  position: absolute;
  bottom: 34px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.footer-logo-link {
  grid-column: 1/-1;
  margin-top: 62px;
  width: 145px;
  height: 36px;
}

.footer-logo-link:focus {
  outline: #AF4FFF 2px solid;
}

.footer-logo-link:hover {
  opacity: 0.6;
}

.footer-logo-link:active {
  opacity: 0.3;
}

.footer-address {
  width: 250px;
  grid-column: 1/1;
}

.contacts-footer-address {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.footer-advantages-list {
  grid-column: 2/2;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  list-style-type: none;
  text-align: center;
}

.footer-advantages-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 0.2em;
}

.footer-advantages-link:hover {
  border-bottom: #FFC700 2px solid;
  color: #FFC700;
}

.footer-advantages-link:active {
  border-bottom: #FFC700 2px solid;
  color: #FFC700;
  opacity: 0.3;
}

.footer-advantages-link:focus {
  outline: #AF4FFF 2px solid;
}

.footer-phone {
  grid-column: 3/3;
  margin-left: auto;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  display: block;
}

.footer-phone:hover {
  color: #FFC700;
}

.footer-phone:active {
  color: #FFC700;
  opacity: 0.3;
}

.footer-phone:focus {
  outline: #AF4FFF 2px solid;
}


.footer-social-list {
  padding: 0;
  grid-column: 2/2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 150px;
  margin: 18px auto;
}

.footer-social-item a {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 50%;
}

.footer-social-item a:hover {
  background-color: #FFC700;
}

.footer-social-item a:active {
  background-color: #FFC700;
  fill-opacity: 0.3;
}

.footer-social-item a:focus {
  outline: #AF4FFF 2px solid;
  outline-offset: 2px;
}

.footer-social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.htmlacademy-link {
  padding: 0;
  grid-column: 3/3;
  margin-left: auto;
  color: #FFC700;
  height: 33px;
}

.htmlacademy-link:hover path {
  fill: #FFFFFF;
}

.htmlacademy-link:active path {
  fill: #FFFFFF;
  fill-opacity: 0.3;
}

.htmlacademy-link:focus {
  outline: #AF4FFF 2px solid;
}

.footer-social-list li:nth-child(3n) {
  margin-right: 0;
}

/* Header-inner */
.inner-header {
  padding-bottom: 20px;
}

.inner-header-container {
  background-color: #FFFFFF;
}

.inner-header-title {
  margin: 0;
  padding-top: 35px;
  margin-bottom: 9px;
  margin-left: 60px;
}

.sign-in-user-icon {
  padding-left: 27px;
  background-image: url("../images/sign-in-icon.svg");
  background-repeat: no-repeat;
  background-size: 13px 12px;
  background-position: center left;
}

.navigation-sign-out {
  opacity: 0.3;
}

/* Main-inner */
.main-inner {
  background-color: #F0F0F0;
}

/* Breadcrumbs */

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #242424;
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
  margin-bottom: 10px;
}

.breadcrumbs-list li::after {
  content: "";
  background-image: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center 8px;
  background-size: 8px 8px;
  padding: 0 18px;
  opacity: 0.3;
}

.breadcrumbs-item:not(:last-child):hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item:not(:last-child):active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item a:focus {
  outline: 2px solid #AF4FFF;
}

.breadcrumbs-list li:last-child::after {
  content: none;
}

.breadcrumbs-list li:last-child {
  margin-right: 0;
  padding-right: 0;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

/* Catalog filter */

.catalog-products {
  display: flex;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 11px;
  background-color: #DCDCDC;
  width: 100%;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  top: -8px;
}

.range-toggle:hover {
  border-color: rgb(0, 0, 0, 0.5);
}

.range-toggle:active {
  background: #000000;
}

.range-toggle:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.toggle-min {
  left: -8px;
}

.toggle-max {
  right: -8px;
}

.range-wrapper-inputs {
  display: flex;
  width: 200px;
}

.catalog-filter-label {
  opacity: 0.3;
  display: flex;
  align-items: baseline;
  width: 40px;
  margin-right: 5px;
  position: relative;
  transform: translateX(-10px);
  font-size: 14px;
  line-height: 20px;
}

.range-input {
  font: inherit;
  width: 50px;
  background-color: transparent;
  border: none;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.catalog-filter {
  width: 200px;
  padding-right: 60px;
  padding-left: 60px;
}

.catalog-right-column {
  width: 840px;
}

.catalog-container {
  background-color: #FFFFFF;
  padding: 70px 40px;
}

.catalog-filter-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 60px;
}

.catalog-sort {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0;
}

.select-control {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  width: 140px;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:active {
  opacity: 0.3;
}

.select-control:focus {
  outline: 2px solid #AF4FFF;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 33px;
}

.control-button {
  font-size: inherit;
  letter-spacing: 0.2em;
  border: none;
  text-align: center;
  z-index: 1;
  width: 100%;
  margin-top: 3px;
  margin-left: 11px;
  background-color: transparent;
}

.control-button::after {
  width: 100%;
}

.control-button:active::after {
  content: none;
}

.catalog-filter-subtitle {
  font-weight: 700;
  line-height: 20px;
  border-top: 2px solid #000000;
  padding-top: 12px;
  width: 200px;
  margin-bottom: 27px;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.color-filter .control {
  padding-left: 21px;
  position: relative;
  margin-top: -7px;
}

.color-filter .control:not(:last-child) {
  margin-bottom: 24px;
}

.bluetooth-filter .control:not(:last-child) {
  margin-bottom: 20px;
  margin-top: -7px;
}

.control {
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.color-filter .control-mark {
  position: absolute;
  top: -1px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 3px;
  background-color: transparent;
}

.bluetooth-filter .control {
  position: relative;
  padding-left: 21px;
}

.bluetooth-filter .control-mark {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: transparent;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control-input:disabled ~ span {
  opacity: 0.1;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  content: '';
  background-image: url("../images/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: '';
  margin: 4px;
  width: 10px;
  height: 10px;
  background-color: #000000;
  border-radius: 50%;
}

.control-label {
  padding-left: 16px;
}

/*Catalog header*/

.catalog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.catalog-sort-container {
  display: flex;
  align-items: baseline;
  width: 60px;
  height: 30px;
}

.sort:hover .sort-svg {
  opacity: 0.5;
}

.sort:active .sort-svg {
  opacity: 1;
}

.catalog-sort-container a:focus {
  outline: 2px solid rgb(175, 79, 255, 1);
}

.button-ascending {
  position: relative;
  width: 30px;
  height: 30px;
}

.sort-svg {
  position: absolute;
  top: 10px;
  left: 10px;
}

.button-descending {
  position: relative;
  width: 30px;
  height: 30px;
}

/* Product card */

.product-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.product-card {
  margin-bottom: 44px;
  width: 360px;
  position: relative;
}

.product-card-container {
  display: grid;
  grid-template-columns: 220px 140px;
  row-gap: 32px;
  align-items: baseline;
}

.product-card:hover .product-card-container {
  opacity: 0.6;
}

.product-card:hover .product-more-link {
  z-index: 2;
}

.product-card-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.product-card:active .product-more-link::after {
  background-color: #FFC700;
}

.product-card:active .product-card-container {
  opacity: 0.3;
}

.product-card-image {
  object-fit: cover;
  grid-column: 1/-1;
  z-index: 1;
}

.product-card-link {
  justify-content: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
}

.product-card-title {
  margin: 0;
  font-weight: 700;
  line-height: 20px;
  font-size: inherit;
  color: #000000;
  letter-spacing: -0.2px;
  grid-column: 1/1;
}

.product-card-price {
  line-height: 21px;
  color: #444444;
  grid-column: 2;
  text-align: right;
  width: 140px;
}

.product-more-link {
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  top: 170px;
  left: 110px;
  z-index: -1;
}

.product-more-link::after {
  width: 220px;
  left: -40px;
}

.product-new {
  position: absolute;
  right: 27px;
  top: 27px;
  z-index: 3;
  border: 1px solid rgb(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 10px 8px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  color: rgb(0, 0, 0, 0.6);
}

/* Pagination */

.pagination-container {
  background-color: #EBEBEB;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 760px;
  margin-bottom: 7px;
}

.pagination-container .disabled {
  opacity: 0.3;
}

.pagination-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-left: 18px;
  margin-right: 11px;
  list-style-type: none;
  flex-wrap: wrap;
}

.pagination-control:hover {
  background-color: #DCDCDC;
}

.pagination-link .pagination-control:active {
  background-color: #DCDCDC;
  opacity: 0.3;
}

.pagination-control:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  width: 760px;
  height: 55px;
  background: transparent;
  margin-bottom: 45px;
  border: 3px solid #E5E5E5;
}

.pagination-show-more:hover {
  border-color: #000000;
}

.pagination-show-more:active {
  border-color: #000000;
  opacity: 0.3;
}

.pagination-show-more:focus {
  outline: #AF4FFF 2px solid;
  outline-offset: 2px;
}

.pagination-show-more:disabled {
  opacity: 0.3;
}

.pagination-link {
  text-decoration: none;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 15px;
}

.pagination-list .pagination-link {
  color: rgb(0, 0, 0, 0.3);
}

.pagination-item .pagination-current {
  color: rgb(0, 0, 0, 0.6);
}

.pagination-link:hover {
  color: rgb(0, 0, 0, 1);
}

.pagination-link:active {
  color: rgb(0, 0, 0, 0.1);
}

.pagination-link:focus {
  outline: #AF4FFF 2px solid;
  outline-offset: 2px;
}

.pagination-navigation {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  padding: 25px;
}

.modal-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(240, 240, 240, 0.9);
  z-index: 3;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 60px 70px;
  background-color: #FFFFFF;
  border: 10px solid #000000;
  box-shadow: 0 10px rgb(0, 0, 0, 0.1);
}

.modal-order {
  box-sizing: border-box;
  width: 920px;
}

.modal-close-button {
  position: absolute;
  padding: 21px;
  top: 65px;
  right: 63px;
  width: 26px;
  height: 26px;
  background-color: #FFFFFF;
  border: none;
  background-image: url("../images/modal-close.svg");
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:focus {
  outline: #AF4FFF 2px solid;
  outline-offset: 2px;
}

.modal-title {
  margin: 0;
  margin-bottom: 42px;
}

.field-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  margin-bottom: 55px;
}

.field-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field {
  font-size: 16px;
  padding: 20px;
  border: none;
  background-color: #F0F0F0;
}

.field:hover {
  background-color: #DCDCDC;
}

.field:focus {
  outline: #AF4FFF 2px solid;
  outline-offset: 2px;
}

.order-input-title {
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 17px;
  position: relative;
}

.order-name-input {
  background-image: url("../images/sign-in-icon-gray.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  background-size: 15px 12px;
}

.order-email-input {
  background-image: url("../images/email.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  background-size: 15px 12px;
}


.field-item {
  position: relative;
}

.additional-text {
  position: absolute;
  bottom: -21px;
  left: 0;
  color: #000000;
  font-size: 14px;
  line-height: 20px;
}

.modal-field-error input {
  outline: 2px solid #FF3D3D;
}

.modal-field-error .additional-text {
  color: #FF3D3D;
}

.error-value-field {
  border-color: red;
}

.order-count {
  margin-bottom: 15px;
}

.order-wish-list {
  width: 580px;
  margin-right: 40px;
}

.order-wish-count {
  width: 180px;
  margin-left: auto;
  margin-bottom: 63px;
}

.last-form-fields {
  margin-bottom: -15px;
}

.modal-count-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #F0F0F0;
}

.field-count-input {
  margin:0;
  padding: 0;
  width: 60px;
  text-align: center;
  border: none;
  background-color: #F0F0F0;
  -webkit-appearance: textfield;
          appearance: textfield;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
}

.field-count-input::-webkit-outer-spin-button,
.field-count-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.modal-count-button {
  height: 60px;
  width: 60px;
  border: none;
  z-index: 1;
  cursor: pointer;
  background-color: #F0F0F0;
}

.modal-count-plus {
  background-image: url("../images/catalog-plus.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.modal-count-minus {
  background-image: url("../images/catalog-minus.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.modal-count-button:hover {
  opacity: 0.6;
}

.modal-count-button:active {
  opacity: 0.3;
}

.modal-count-button:focus {
  outline: #AF4FFF 2px solid;
}

.modal-order-submit {
  width: 200px;
  font-size: 18px;
  letter-spacing: 0.2em;
  border: none;
  background-color: transparent;
  z-index: 1;
  margin-top: -12px;
}

.modal-order-submit:active::after {
  content: none;
}

.tooltip {
  position: absolute;
  margin: 2px 8px;
  width: 26px;
  height: 26px;
  z-index: 2;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #242424;
  display: block;
}

.tooltip-text {
  display: none;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
  padding: 20px;
  width: 160px;
  position: absolute;
  right: -40px;
  top: 35px;
  box-shadow: 0 10px rgb(0, 0, 0, 0.1);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  right: 44px;
  top: -4px;
  background-image: url("../images/piramid.svg");
  width: 16px;
  height: 6px;
}
