@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #1A1A1A;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Pages */

.page-header {
  color: #000000;
  background-color: #FFE17F;
}

.header-search-input {
  font-size: 16px;
  line-height: 20px;
  background: transparent;
}

.search-button {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 20px;
  background: transparent;
}

.navigation-user a {
  text-decoration: none;
  color: #000000;
}

.navigation-advantages a {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 2px;
}

/* Slider */

.product-item-number {
font-weight: 700;
font-size: 180px;
}

.product-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.product-text {
  color: #444444;
}

.product-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 2px;
}

.product-benefits dt {
  font-size: 36px;
}

.product-benefits dd {
  font-size: 16px;
  color: #444444;
}

/* Categories */

.categories {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
}

.categories-item-link {
  text-decoration: none;
  color: #000000;
  letter-spacing: -0.2px;
}

.categories-item-link img {
  background-color: #FFE17F;
}

/* Advantages */

.advantages {
  background-color: #F0F0F0;
}

.advantages-item-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 2px;
}

.advantages-title-item {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.advantages-text-item {
  color: #444444;
}

/* Order */

.order {
  background-color: #F0F0F0;
}

.order-search {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.order-image {
  background-color: #FFE17F;
}

/* About us */

.about-us-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.about-us p {
  color: #444444;
}

.delivery-item {
  font-weight: 700;
  line-height: 20px;
}

.button-about-us {
  color: #000000;
  letter-spacing: 2px;
}

/* Contacts */

.contacts {
  color: #444444;
}

.contacts-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
}

.contacts-address-text {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.contacts-phone {
  color: inherit;
  font-style: normal;
  text-decoration-line: none;
}

.button-contact-us {
  color: #000000;
  letter-spacing: 2px;
}

/* Newsletter */

.newsletter {
  background-color: #F0F0F0;
}

.newsletter-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.newsletter-description {
  color: #444444;
}

.newsletter-submit-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.newsletter-advantages {
  color: #444444;
}

/* Page footer */

.page-footer {
  background-color: #444444;
  color:#F0F0F0;
}

.footer-advantages-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 2px;
}

.footer-phone {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration-line: none;
}

/* Main-inner */

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

/* Breadcrumbs */

.breadcrumbs-list {
  color: #242424;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

/* Catalog filter */

.catalog-products {
  background-color: #F0F0F0;
}

.catalog-container {
  background-color: #FFFFFF;
}

.catalog-filter-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.catalog-sort {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.control-button {
  font-size: inherit;
  letter-spacing: 2px;
}

.catalog-filter-subtitle {
  font-weight: 700;
  line-height: 20px;
}

.control {
  font-size: 16px;
  line-height: 20px;
}

/* Product card */

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  line-height: 20px;
  font-size: inherit;
  color: #000000;
  letter-spacing: -0.2px;
}

.product-card-price {
  line-height: 21px;
  color: #444444;
}

.product-more-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;

}

/* Pagination */

.pagination {
  background-color: #EBEBEB;
}

.pagination-show-more {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
}

.pagination-link {
  text-decoration: none;
  color: #444444;
}

.pagination-navigation {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color:#000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
